<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/phone.css" media="screen and (max-width: 1027px)">
    <link rel="stylesheet" href="../static/thankyou.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../static/logo.png" alt="">
        </div>
        <ul>
            <li class="items"><a href="/">Home</a></li>
            <li class="items"><a href="/"> Our Services</a></li>
            <li class="items"><a href="/">Our Clients</a></li>
            <li class="items"><a href="/">Contact Us</a></li>
        </ul>
    </nav>

    <div>
        <p>THANKS FOR SUBMITTING THE FORM</p>
    </div>