
/* navbar section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1.0rem;
    padding: 6px 0px;
}
/* #navbar ul{
    font-size: 2rem;
} */

#navbar ul .n1 a:hover{
    display: block;
    background-color: white;
}

#navbar ul .n1 a{
    margin: 0px 9px;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 0px;
    padding-left: 10px;
    padding-bottom: 40px;
    padding-right: 10px;

}
#navbar ul .n2 a{
    margin: 0px 9px;
    font-size: 1.7rem;
    text-align: center;
}
#navbar ul .n3 a{ 
    margin: 0px 9px;
    font-size: 1.7rem;
    text-align: center;
}
#navbar ul .n4 a{
    margin: 0px 9px;
    font-size: 1.7rem;
    text-align: center;
    padding-right: 5px;
}
/* home section */

#home{
    height: 300px;
    padding: 10px 10px;
}
#home::before{
    height: 560px;
}

/* Our services section */
#services{
    flex-direction: column;
}
#services .box img{
    height: 170px;
    width: 200px;
}


/* Our clients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 90px;
    padding: 6px 34px;
    height: auto;
}
.client-item{
    padding: 19px 8px;
}


/* contact us section */

#contact-box form{
    width: 80%;
}
/* footer */

/* utility classes */
.h-primary{
    font-size: 1.6rem;
    margin-top: 6px;
}
.h-primary-center{
    margin-top: 53px;
    margin-bottom: 0px;
}

